In [2]:
import pandas as pd
import numpy as np

In [35]:
lang_ver19 = pd.read_csv('VoxCommunis_Info.csv', usecols=['code_cv', 'name_cv', 'totalHrs', 'validHrs'])
lang_ver19.rename(columns = {'clips': 'clips_v19', 
                             'validClips': 'validClips_v19',
                             'totalHrs': 'totalHrs_v19',
                             'validHrs': 'validHrs_v19'},
                             inplace=True)
lang_ver19.drop_duplicates(inplace=True)
lang_ver19

    code_cv    name_cv  totalHrs_v19  validHrs_v19
0        ab     Abkhaz         84.41         59.86
1        af  Afrikaans          0.56          0.27
2        am    Amharic          2.63          1.55
5        ar     Arabic        155.81         90.27
6        as   Assamese          3.27          2.72
..      ...        ...           ...           ...
147      zu       Zulu          0.04          0.00
148     zza       Zaza          0.44          0.33
149     luo     Dholuo         84.41         59.86
150     kln   Kalenjin         84.41         59.86
151     dav   Kidawida         84.41         59.86

[129 rows x 4 columns]

In [36]:
lang_ver16 = pd.read_csv('/Users/miaozhang/switchdrive/vxc_scripts/vxc_pipeline/VoxCommunis_Info_v16.csv', usecols=['code_cv', 'name_cv', 'totalHrs', 'validHrs'])
lang_ver16.rename(columns = {'clips': 'clips_v16', 
                             'validClips': 'validClips_v16',
                             'totalHrs': 'totalHrs_v16',
                             'validHrs': 'validHrs_v16'},
                             inplace=True)
lang_ver16.drop_duplicates(inplace=True)
lang_ver16

    code_cv                        name_cv  totalHrs_v16  validHrs_v16
0        hi                          Hindi         20.05         13.93
1        pt                     Portuguese        207.32        170.62
2        ro                       Romanian         45.91         19.35
3        ru                        Russian        264.05        230.37
4        ab                         Abkhaz         84.40         58.83
..      ...                            ...           ...           ...
138      tw                            Twi          0.26          0.05
139      ur                           Urdu        231.69         63.11
140     vot                          Votic          0.28          0.06
141     nhi  Western Sierra Puebla Nahuatl          0.03          0.01
142      yi                        Yiddish          0.04          0.04

[120 rows x 4 columns]

In [38]:
merged = pd.merge(lang_ver16, lang_ver19, how = 'outer', on = ['code_cv', 'name_cv'])
merged['diff_validhrs_19_16'] = round(merged['validHrs_v19'].fillna(0) - merged['validHrs_v16'].fillna(0), 2)
merged.sort_values(by = ['diff_validhrs_19_16'], ascending = False)
print(merged)
merged.to_csv('VoxCommonis_ver_comp.csv')

    code_cv              name_cv  totalHrs_v16  validHrs_v16  totalHrs_v19  \
0        ab               Abkhaz         84.40         58.83         84.41
1        af            Afrikaans          0.34          0.10          0.56
2        am              Amharic          2.04          1.25          2.63
3        ar               Arabic        155.30         89.95        155.81
4        as             Assamese          3.27          2.71          3.27
..      ...                  ...           ...           ...           ...
124   zh-CN      Chinese (China)       1059.64        228.87       1061.32
125   zh-HK  Chinese (Hong Kong)        138.00        107.13        138.22
126   zh-TW     Chinese (Taiwan)        125.53         76.72        126.04
127      zu                 Zulu           NaN           NaN          0.04
128     zza                 Zaza           NaN           NaN          0.44

     validHrs_v19  diff_validhrs_19_16
0           59.86                 1.03
1            0.27                 0.17
2            1.55                 0.30
3           90.27                 0.32
4            2.72                 0.01
..            ...                  ...
124        233.77                 4.90
125        107.42                 0.29
126         77.10                 0.38
127          0.00                 0.00
128          0.33                 0.33

[129 rows x 7 columns]